<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>INDEX</title>
  <link href="/assets/vendor.css"  rel="stylesheet" />
  <link href="/assets/app.css"  rel="stylesheet" />
  <script src="/assets/vendor.js"></script>
</head>

<body>
  <header>
    header
  </header>

  <div>
    {% block contents %}{% endblock %}
  </div>

  <footer>
    footer
  </footer>

  <script src="/assets/app.js"></script>
</body>

</html>
